.wp-block-site-logo {
    box-sizing: border-box;
    line-height: 0;
  }
  .wp-block-site-logo a {
    display: inline-block;
    line-height: 0;
  }
  .wp-block-site-logo.is-default-size img {
    height: auto;
    width: 120px;
  }
  .wp-block-site-logo img {
    height: auto;
    max-width: 100%;
  }
  .wp-block-site-logo a,
  .wp-block-site-logo img {
    border-radius: inherit;
  }
  .wp-block-site-logo.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .wp-block-site-logo.is-style-rounded {
    border-radius: 9999px;
  }
  .wp-block-site-logo {
    border-radius: 0;
    border-color: var(--wp--preset--color--primary);
    border-width: 2px;
    border-style: solid;
  }

  .wp-block-site-title a {
    color: inherit;
  }
  .wp-block-site-title {
    font-family: var(--wp--preset--font-family--uni-05-53);
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  .wp-block-site-title a:where(:not(.wp-element-button)) {
    text-decoration: none;
  }
  .wp-block-group {
    box-sizing: border-box;
  }
  .wp-block-navigation .wp-block-page-list {
    align-items: var(--navigation-layout-align, initial);
    background-color: inherit;
    display: flex;
    flex-direction: var(--navigation-layout-direction, initial);
    flex-wrap: var(--navigation-layout-wrap, wrap);
    justify-content: var(--navigation-layout-justify, initial);
  }
  .wp-block-navigation .wp-block-navigation-item {
    background-color: inherit;
  }


  .wp-block-navigation {
    font-size: 0.875rem;
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  .wp-block-navigation-is-layout-flow > :first-child:first-child {
    margin-block-start: 0;
  }
  .wp-block-navigation-is-layout-flow > :last-child:last-child {
    margin-block-end: 0;
  }
  .wp-block-navigation-is-layout-flow > * {
    margin-block-start: 1rem;
    margin-block-end: 0;
  }
  .wp-block-navigation-is-layout-constrained > :first-child:first-child {
    margin-block-start: 0;
  }
  .wp-block-navigation-is-layout-constrained > :last-child:last-child {
    margin-block-end: 0;
  }
  .wp-block-navigation-is-layout-constrained > * {
    margin-block-start: 1rem;
    margin-block-end: 0;
  }
  .wp-block-navigation-is-layout-flex {
    gap: 1rem;
  }
  .wp-block-navigation-is-layout-grid {
    gap: 1rem;
  }
  .wp-block-navigation a:where(:not(.wp-element-button)) {
    color: inherit;
  }
  .wp-block-navigation a:where(:not(.wp-element-button)):focus {
    text-decoration: underline solid;
  }
  .wp-block-navigation a:where(:not(.wp-element-button)):active {
    text-decoration: underline dotted;
  }